<?xml version="1.0"?>
<launch>
    <!-- Launch the ground detector node -->
    <node pkg="ground_detector" type="ground_detector" name="ground_detector" output="screen" />
    <node pkg="ground_detector" type="odom_frame_trans.py" name="odom_frame_trans" output="screen" />

    <!-- Launch the map registration node -->
    <node pkg="map_registration" type="map_registration" name="map_registration" output="screen" />

    <!-- Launch the decision node -->
    <!-- <node pkg="decision" type="decision" name="decision" output="screen" /> -->

    <!-- Launch the detect node -->
    <node pkg="detect" type="detect_template" name="template_matching_node" output="screen" />

</launch>
